@import "../variables.scss";

.hero__container{
    color: white;
    width: 55%;
    
    margin-right: auto;
    margin-left: auto;
    background-color:$color3;
    margin-top: 10px;
    text-align: center;
    padding-top:10px;
    padding-bottom: 20px;
    
    @media screen and (min-width:700px) {
        
        width:40% ;
    
} 
@media screen and (min-width:1000px) {
        
        width: 40%;
    }
    img{
        width:100%;
        @media screen and (min-width:700px) {
        
            width:80%   
        
    }   
    @media screen and (min-width:1000px) {
        width: 50%;
    }
    }
    .hero__buttons{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        margin-top: 10px;
        span{
            i{
                font-size:20px;
                color: aliceblue;
            }
        }
    }
}