@import "../variables.scss";

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: $color2;
    padding: 0px 10px;
    #icon{
        font-size: 32px;
        color: $color4;
    }
    a{
        color: $color4;
        text-decoration: none;
    }
    .navbar-buttons{
        display: flex;
        flex-direction: row;
        max-width: 20%;
        @import "../detail-btn/detail-btn.scss";
    }
    img{
        width:55px;
        @media screen and (min-width:900px) {
            width: 60px;
        }
    }
}