@import "../variables.scss";
.movie-container{
    background-color: $color3;
    min-width: 200px;
    width: 80vw;
    padding:  10px 0px;
    img{
        width: 100%;
    }
    .movie-buttons{
        
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items:center;
        span{
            color: white
        }
    }
    @media screen and (min-width: 500px){
        width: 50vw;
    }
    @media screen and (min-width: 900px){
        width: 20vw;
    }
}